# Firebase configuration files
/ios/Runner/GoogleService-Info.plist
/android/app/google-services.json

# Flutter/Dart IDE specific files
.dart_tool/
.idea/
.packages
.project
.build/
build/

# Other
.DS_Store