# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Android
.gradle/
build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Runner/GoogleService-Info.plist

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.dart_tool/